


 

   
   
  
   
  

   @media only screen and (min-width: 769px) {
    
    .body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .iconImgCss {
      width: 100px; 
      
    }

    .sectionName {
      text-decoration: none;
      font-size: 25px;
    }

    /* .shadow-area{
      padding: 10px 0;
      box-shadow: 0px 5px 20px #d9d9d9;
     } */
     .all-content{
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
     }
     .iconPage{
      text-align: center;
     }
     .sectionName{
      color: #007bff;
      font-size: 20px;
      text-align: center;
      text-decoration: none; 
     }
     /* .shadow-area .background-img img{
      border-radius: 10px;
      padding: 5px;
     } */
  .linktag{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
  }

   }
   @media only screen and (max-width: 768px) {

    .body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .iconImgCss {
      width: 50px; 
    }

  
     .all-content{
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
     }
     .iconPage{
      text-align: center;
     }
     .sectionName{
      color: #007bff;
      font-size: 10px;
      text-align: center;
      text-decoration: none; 
     }
     .linktag{
      text-decoration: none;
      font-size: 20px;
      font-weight: 800;
    }


    
   }



   
